<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Store</title>
  <link rel="stylesheet" href="../../libs/semantic-ui/semantic.min.css">
  <link rel="stylesheet" href="../../libs/bootstrap/css/bootstrap-utilities.min.css">
  <link rel="stylesheet" href="../../libs/common/css/reset.css">
  <link rel="stylesheet" href="./styles.css">
</head>

<body>
  <div id="main-wrapper">
    <section class="group d-flex flex-column">
      <header class="p-2">
        <h4>Folder/</h4>
      </header>
      <main class="flex-grow-1">
        <div class="d-flex flex-wrap">
          <div class="image-folder">
            <div class="d-flex align-items-center justify-content-between">
              <a class="ui " href="#">
                <i class="folder open outline icon fs-1"></i>  
              </a>
              <div class="ui icon top left pointing dropdown more-control p-2">
                <i class="ellipsis vertical icon"></i>
                <div class="menu">              
                  <button class="item w-100"
                    data-group-id="1"
                    data-group-name="Group 1"
                    onclick="showModalEditGroup(this)">
                    <i class="edit icon"></i>
                    <span>Edit</span>
                  </button>
                  <button class="item w-100"
                    data-group-id="1"
                    data-group-name="Group 1"
                    data-selected-group-id="1"
                    onclick="deleteGroup(this)">
                    <i class="trash icon"></i>
                    <span>Delete</span>
                  </button>
                  <div class="ui tiny modal edit-group">
                    <i class="close icon"></i>
                    <div class="header">
                      Edit Folder
                    </div>
                    <div class="content">
                      <form class="ui form" 
                            method="POST"
                            action="/ImageStore/admin/group/update">
                        <input type="hidden" name="group-id" value="1">
                        <div class="ui field">
                          <span>Rename for: <strong class="group-name">Folder 1</strong> </span>
                        </div>
                        <div class="ui field">
                          <label>New Name</label>
                          <input type="text" >
                        </div>
                        <button class="ui button">Update</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <span>Folder 1 and 2 and 3</span>
            </div>
          </div>
        </div>
      </main>
      <footer class="d-flex justify-content-end p-2">
        <button class="ui icon button p-2" onclick="showModalAddGroup()">
          <i class="plus icon"></i>
        </button>
        <div class="ui tiny modal add-group">
          <i class="close icon"></i>
          <div class="header">
            Add Folder
          </div>
          <div class="content">
            <form class="ui form"
                  method="POST"
                  action="/ImageStore/admin/group/add">
              <div class="ui field">
                <label>Name</label>
                <input type="text" >
              </div>
              <div class="d-flex justify-content-between">
                <button type="reset" class="ui button">Clear</button>
                <button type="submit" class="ui button primary">Add</button>
              </div>           
            </form>
          </div>
        </div>
      </footer>
    </section>
    <section class="image d-flex flex-column">
        <header class="p-2">
          <h4>Images/</h4>
        </header>
        <main class="flex-grow-1">
          <div class="d-flex flex-wrap">
            <div class="image-info">
              <div class="d-flex align-items-center justify-content-between">
                <a class="" href="#">
                  <img src="../../assets/imgs/bird.png"> 
                </a>
                <div class="ui icon top left pointing dropdown more-control p-2">
                  <i class="ellipsis vertical icon"></i>
                  <div class="menu">
                    <button class="item w-100"
                            data-link="http://localhost/ImageStore/image?id=1"
                            onclick="copyLinkToClipboard(this)">
                      <i class="linkify icon"></i>
                      <span>Copy</span>
                    </button>
                    <a href="#" class="item w-100" download="test.png">
                      <i class="download icon"></i>
                      <span>Download</span>
                    </a>
                    <button class="item w-100 " 
                            data-image-id="1"
                            data-image-name="image1.png"
                            onclick="showModalEditImage(this)">
                      <i class="edit icon"></i>
                      <span>Edit</span>
                    </button>
                    <button class="item w-100 "
                            data-image-id="1"
                            data-image-name="image1.png"
                            data-selected-group-id="1"
                            onclick="deleteImage(this)">
                      <i class="trash icon"></i>
                      <span>Delete</span>
                    </button>
                    <div class="ui tiny modal edit-image">
                      <i class="close icon"></i>
                      <div class="header">
                        Edit Image
                      </div>
                      <div class="content">
                        <form class="ui form" 
                              method="post" 
                              action="/ImageStore/admin/image/update">
                          <input type="hidden" name="image-id" value="1">
                          <div class="ui field">
                            <span>Rename for: <strong class="image-name">ImageXyz.png</strong> </span>
                          </div>
                          <div class="ui field">
                            <label>New Name</label>
                            <input type="text" name="new-name">
                          </div>
                          <div class="d-flex justify-content-between">
                            <button class="ui button" type="reset">Clear</button>
                            <button class="ui button primary" type="submit">Update</button>
                          </div>                      
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>           
              <div class="py-1">
                <span class="text-break">Folderdfsdfsdfsdfssddffdsfsdf1and2andsfasafdsfsfsdf sdf sda safdsaf3</span>
              </div>
            </div>
          </div>
        </main>
        <footer class="d-flex justify-content-end p-2">
          <button class="ui icon button p-2" onclick="showModalAddImage()">
            <i class="plus icon"></i>
          </button>
          <div class="ui tiny modal add-image">
            <i class="close icon"></i>
            <div class="header">
              Add Image File
            </div>
            <div class="content">
              <form class="ui form" method="post" 
                    action="/ImageStore/admin/image/add"
                    enctype="multipart/form-data">
                <input type="hidden" name="group-id" value="1">
                <div class="ui field">
                  <label>Images </label>
                  <input type="file" name="image-file" multiple >
                </div>
                <div class="d-flex justify-content-between">
                  <button class="ui button" type="reset">Clear</button>
                  <button class="ui button primary" type="submit">Add</button>
                </div>            
              </form>
            </div>
          </div>
        </footer>
    </section>
  </div>
  <script src="../../libs/jquery-3.7.1.min.js"></script>
  <script src="../../libs/semantic-ui/semantic.min.js"></script>
  <script src="./script.js"></script>
</body>

</html>